/* 'Open sans' font */
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
/* 'Quicksand' font */
@import url('https://fonts.googleapis.com/css?family=Quicksand');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  font-family: sans-serif;
  height: 100%;
}

header { 
  color: #e4e7e7;
  display: flex;
  flex-flow: column wrap;
  /* justify-content: space-between; */
  /* border: 2px solid red; */
  padding-bottom: 100px;
  align-content: flex-end;
}

#showcase {
  align-self: center;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 35px 85px 0 100px;  
}

.logo:hover,
.nav-item:hover {
  color: #F2F3F3;
  cursor: pointer;
}

.logo {
  font-family: 'Quicksand';
  font-weight: 700;
  font-size: 24px;
}

.nav-item {
  margin: 0 15px 0 15px;
}

#menu {
  display: flex;
  list-style-type: none;
  align-items: center;
}

.bg {
  height: 100%;
  background: linear-gradient(
    rgba(54, 59, 65, 0.7), 
    rgba(54, 59, 65, 0.7)), 
    url("media/hero.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}