/* 'Open sans' font */
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
/* 'Quicksand' font */
@import url('https://fonts.googleapis.com/css?family=Quicksand');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  font-family: sans-serif;
  height: 100%;
}

nav {
  width: 100%;
  position: absolute; 
  display: flex;
  justify-content: space-between;
  padding: 35px 85px 0 100px;  
  color: #e4e7e7;
  flex-flow: row nowrap;
}

#showcase {
  display: flex;
  justify-content: center;
  min-height: 100vh;
}

.call-to-action {
  align-self: center;
}

.logo:hover,
.nav-item:hover {
  color: #F2F3F3;
  cursor: pointer;
}

.logo {
  font-family: 'Quicksand';
  font-weight: 700;
  font-size: 24px;
}

.nav-item {
  margin: 0 15px 0 15px;
}

#menu {
  display: flex;
  list-style-type: none;
  align-items: center;
}

.bg {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(
    rgba(63, 74, 87, 0.7), 
    rgba(63, 74, 87, 0.7)), 
    url("media/hero.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
}